# Advanced Queries using Python and SQL

## Load in the Database

In [1]:
from astrodb_utils import load_astrodb
from simple import REFERENCE_TABLES

SCHEMA_PATH = "../../simple/schema.yaml" 
recreatedb = False #Set to True or False
db = load_astrodb(
     "../../SIMPLE.sqlite", 
     recreatedb=recreatedb,  
     reference_tables=REFERENCE_TABLES, 
     felis_schema=SCHEMA_PATH
     )

## Let first use astrodb_utils.sql_query to run a SQL query directly 
AstrodbUtils's function sql_query acts as a wrapped for direct SQL queries, taking in two parameters: query (str), and fmt (str: pandas, astropy, defualt).

In [32]:
from sqlalchemy import and_, or_

#Uncomment the following lines to see how to use AND and OR in queries

# Query with multiple conditions
print("\nQuery with multiple conditions, filtering sources with dec > 0 and ra < 200 degrees:")
print(f"Showing the first 10 results out of {len(db.query(db.Sources).filter(db.Sources.c.dec > 0).filter(db.Sources.c.ra < 200).all())} sources:")
db.query(db.Sources).filter(db.Sources.c.dec > 0).filter(db.Sources.c.ra < 200).limit(10).table()

# #  Query with AND
# print("\nQuery with AND, filtering sources with dec > 0 and ra > 200 degrees:")
# print(f"Showing the first 10 results out of {len(db.query(db.Sources).filter(and_(db.Sources.c.dec > 0, db.Sources.c.ra > 200)).all())} sources:")
# db.query(db.Sources).filter(and_(db.Sources.c.dec > 0, db.Sources.c.ra > 200)).limit(10).table()


# #  Query with OR
# print("\nQuery with OR, filtering sources with dec < 0 or ra > 200 degrees:")
# print(f"Showing the first 10 results out of {len(db.query(db.Sources).filter(or_(db.Sources.c.dec < 0, db.Sources.c.ra > 200)).all())} sources:")
# db.query(db.Sources).filter(or_(db.Sources.c.dec < 0, db.Sources.c.ra > 200)).limit(10).table()

Query with multiple conditions, filtering sources with dec > 0 and ra < 200 degrees:
Showing the first 10 results out of 1334 sources:

<Table length=10>
         source          ...                  comments
         str24           ...                   object
------------------------ ... -----------------------------------------
 2MASS J03552014+1439297 ...                                      None
   PSO J024.4369+09.1360 ... Best20 lists discovery as Skrz16; Best20a
SDSS J094903.15+264944.2 ...                                      None
 2MASS J09373487+2931409 ...                                      None
               HIP 6407B ...                                      None
 2MASS J11260310+4819256 ...                                      None
                LHS 1937 ...                                      None
ULAS J095047.28+011734.3 ...                                      None
  2MASSI J1029216+162652 ...                                      None
ULAS J115229.68+035927.3 ...  Best20 lists discovery as Scho12; Burn13

### Query the count of sources in the database

In [33]:
# Query the total number of objects within SIMPLE
result = db.sql_query("SELECT COUNT(*) FROM Sources", fmt='astropy')
total_objects = result[0][0]


print(f"Total number of objects in the SIMPLE database: {total_objects}")

Total number of objects in the SIMPLE database: 3619

### Query Sources by String

In [34]:
wise_sources_query = "SELECT * FROM Sources WHERE source LIKE '%WISE%'"
wise_sources = db.sql_query(wise_sources_query, fmt='astropy')

print(f"Found {len(wise_sources)} WISE sources in the database")
print("\nFirst Three WISE Sources:")
for source in wise_sources[:3]:  # Display first 3 sources
    print(source)

Found 616 WISE sources in the database

First Three WISE Sources:
          source                   ra               dec         epoch equinox shortname reference other_references comments
-------------------------- ----------------- ------------------ ----- ------- --------- --------- ---------------- --------
CWISEP J230158.30-645858.3 345.4929166666666 -64.98286111111112  None    None      None Meis20.74             None     None
         source             ra     dec    epoch equinox shortname reference other_references comments
------------------------ ------- -------- ----- ------- --------- --------- ---------------- --------
WISE J200403.17-263751.7 301.013 -26.6293  None    2000      None    Thom13             None     None
          source                  ra                 dec         epoch equinox shortname reference  other_references comments
------------------------- ------------------ ------------------- ----- ------- --------- ---------- ---------------- --------
WISEA J012834.87-280302.5 22.145291666666665 -28.050694444444446  None    None      None Meis20.123             None     None

### Query by Program ID ("PID")

In [37]:
spectra_pid_query = "SELECT * FROM Spectra WHERE reference LIKE 'PID%'"
print(f"Found {len(db.sql_query(spectra_pid_query))} spectra with PID references in the database")
db.sql_query(spectra_pid_query, fmt='astropy')

Found 55 spectra with PID references in the database

<Table length=55>
         source          ... other_references
         str24           ...      object
------------------------ ... ----------------
                   VB 10 ...             None
 2MASS J10042066+5022596 ...             None
 2MASS J10224821+5825453 ...             None
 2MASS J12392727+5515371 ...             None
 2MASS J00001354+2554180 ...             None
 2MASS J07464256+2000321 ...             None
 2MASS J20575409-0252302 ...             None
              LP  440-52 ...             None
 2MASS J12373919+6526148 ...             None
                     ... ...              ...
 2MASS J00345157+0523050 ...             None
 2MASS J10365305-3441380 ...             None
 2MASS J17210390+3344160 ...             None
 2MASS J11145133-2618235 ...             None
 2MASS J10170754+1308398 ...             None
DENIS-P J144137.2-094558 ...             None
 2MASS J04455387-3048204 ...             None
 2MASS J05012406-0010452 ...             None
                 GJ 1111 ...             None
 2MASS J04390101-2353083 ...             None

## Using SQLAlchemy Query Functions

#### SQL via SQLalchemy

In [16]:
from sqlalchemy import text

# Using connection from the existing database
with db.engine.connect() as conn:
    
    # Query all sources
    result = conn.execute(text("SELECT * FROM Sources LIMIT 10"))
    print("First 10 Sources (Raw SQL):")
    for row in result:
        print(f"Source: {row.source}, RA: {row.ra}, Dec: {row.dec}")

    # Find spectra with a specific instrument
    result = conn.execute(
        text("SELECT * FROM Spectra WHERE instrument = :instrument LIMIT 5"),
        {"instrument": "IRS"}
    )
    print("\nSpectra from IRS instrument (first 5):")
    for row in result:
        print(f"Source: {row.source}, Telescope: {row.telescope}")

        # Join query - find all spectra for sources with names containing "WISE"
        result = conn.execute(
            text("""
            SELECT Sources.source, Spectra.telescope, Spectra.instrument
            FROM Sources 
            JOIN Spectra ON Sources.source = Spectra.source
            WHERE Sources.source LIKE :pattern
            LIMIT 5
            """),
            {"pattern": "%WISE%"}
        )
        print("\nWISE sources with spectra (first 5):")
        for row in result:
            print(f"Source: {row.source}, Telescope: {row.telescope}, Instrument: {row.instrument}")
            
        # Aggregate query - count sources by publication reference
        result = conn.execute(
            text("""
            SELECT reference, COUNT(*) as count 
            FROM Sources 
            GROUP BY reference 
            ORDER BY count DESC
            LIMIT 3
            """)
        )
        print("\nTop 3 references by number of sources:")
        for row in result:
            print(f"Reference: {row.reference}, Count: {row.count}")

First 10 Sources (Raw SQL):
Source: 2MASS J03552014+1439297, RA: 58.83375, Dec: 14.658056
Source: 1RXS J115928.5-524717, RA: 179.864, Dec: -52.7886
Source: ULAS J114925.58-014343.2, RA: 177.3569, Dec: -1.7287
Source: DENIS-P J1756561-480509, RA: 269.2342, Dec: -48.086
Source: PSO J024.4369+09.1360, RA: 24.4372, Dec: 9.1366
Source: SDSS J161420.50+004643.6, RA: 243.585, Dec: 0.7785
Source: SDSS J094903.15+264944.2, RA: 147.2633, Dec: 26.8288
Source: SDSS J083717.21-000018.0, RA: 129.3215835, Dec: -0.004972
Source: 2MASS J06080232-2944590, RA: 92.0097, Dec: -29.7497
Source: 2MASS J09373487+2931409, RA: 144.395292, Dec: 29.528028

Spectra from IRS instrument (first 5):
Source: SDSS J083717.21-000018.0, Telescope: Spitzer

WISE sources with spectra (first 5):
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: MIRI
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: NIRSpec
Source: WISE J235402.77+024015.0, Telescope: HST, Instrument: WFC3
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: MIRI
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: NIRSpec

Top 3 references by number of sources:
Reference: Schm10.1808, Count: 208
Reference: Reid08.1290, Count: 206
Reference: West08, Count: 194
Source: 2MASS J09373487+2931409, Telescope: Spitzer

WISE sources with spectra (first 5):
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: MIRI
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: NIRSpec
Source: WISE J235402.77+024015.0, Telescope: HST, Instrument: WFC3
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: MIRI
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: NIRSpec

Top 3 references by number of sources:
Reference: Schm10.1808, Count: 208
Reference: Reid08.1290, Count: 206
Reference: West08, Count: 194
Source: 2MASS J09373487+2931409, Telescope: Spitzer

WISE sources with spectra (first 5):
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: MIRI
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: NIRSpec
Source: WISE J235402.77+024015.0, Telescope: HST, Instrument: WFC3
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: MIRI
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: NIRSpec

Top 3 references by number of sources:
Reference: Schm10.1808, Count: 208
Reference: Reid08.1290, Count: 206
Reference: West08, Count: 194
Source: VB 10, Telescope: Spitzer

WISE sources with spectra (first 5):
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: MIRI
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: NIRSpec
Source: WISE J235402.77+024015.0, Telescope: HST, Instrument: WFC3
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: MIRI
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: NIRSpec

Top 3 references by number of sources:
Reference: Schm10.1808, Count: 208
Reference: Reid08.1290, Count: 206
Reference: West08, Count: 194
Source: VB 10, Telescope: Spitzer

WISE sources with spectra (first 5):
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: MIRI
Source: WISE J235402.77+024015.0, Telescope: JWST, Instrument: NIRSpec
Source: WISE J235402.77+024015.0, Telescope: HST, Instrument: WFC3
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: MIRI
Source: WISEP J031325.96+780744.2, Telescope: JWST, Instrument: NIRSpec

Top 3 references by number of sources:
Reference: Schm10.1808, Count: 208
Reference: Reid08.1290, Count: 206
Reference: West08, Count: 194